$color-main: #63636F;
$color-main-light: #ACADA5;
$color-main-lighter: #DADADA;
$color-main-lightest: #E9EAEC;
$color-main-dark: #424343;
$color-main-darker: #27282A;
$color-main-darkness: #18191B;
$color-second: #C6AF66;
$background-main: #FFFFFF;
$background-second: #F7F7F8;

$drop-shadow-main: 0px 8px 16px 0px #2223241A;

$font-main: 'Lato', 'Arial', sans-serif;
$font-second: 'Roboto', 'Arial', sans-serif;