$color-main: #63636F;
$color-main-dark: #424343;
$color-main-darker: #18191B;
$color-main-light: #ACADA5;
$color-second: #C6AF66;
$background-main: #FFFFFF;
$background-second: #F7F7F8;

$font-main: 'Lato', 'Arial', sans-serif;
$font-second: 'Roboto', 'Arial', sans-serif;